* {
    --main-color: #ffffff;
    --second-color: #9fa3ac;
    --third-color: #3b4253;
    --fourth-color: #20212e;
    --border-color: #3b4253;
    --box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    --background-color: #171821;
    --button-background-color: #006ad3;
    --danger-color: #ff5234;
    --danger-background-color: #413a46;
    color: var(--main-color);
}

select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}
