<!DOCTYPE html>
<html lang="<?= e($this->getLanguageCode()) ?>">
<head>
    <title><?= $this->t('restore_your_password') . ' - ' . e(setting('title')) ?></title>
    <?= $this->include('admin/partials/head.html') ?>
</head>
<body class="login-page">
    <?= $this->include('admin/partials/snackbar.html') ?>
    <form id="restore-form" class="card v-spacing">
        <div class="input-group">
            <label for="password"><?= $this->t('new_password') ?></label>
            <input id="password" type="password" name="password" value=""/>
        </div>
        <div class="input-group">
            <label for="password-confirm"><?= $this->t('password_confirm') ?></label>
            <input id="password-confirm" type="password" name="password_confirm" value=""/>
        </div>
        <input type="hidden" name="hash" value="<?= e($_GET['hash']) ?>"/>
        <input type="hidden" name="csrf" value="<?= e($this->csrfToken()) ?>"/>
        <button type="submit"><?= $this->t('restore_your_password') ?></button>
    </form>
    <script>
        document.getElementById('restore-form').addEventListener('submit', event => {
            event.preventDefault();
            Form.send('/admin/password_restore', 'restore-form', event.target.querySelector('[type="submit"]')).then(res => {
                if (res.success) {
                    setTimeout(() => location.href = '/admin/dashboard', 2000);
                }
            });
        });
    </script>
</body>
</html>
