<!DOCTYPE html>
<html lang="<?= e($this->getLanguageCode()) ?>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aurora</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="logo" content="<?= e(!empty(setting('logo')) ? $this->getContentUrl(setting('logo')) : '') ?>">
    <meta name="description" content="<?= e(setting('meta_description')) ?>">
    <meta name="version" content="<?= e(\Aurora\Core\Kernel::VERSION) ?>">
    <meta name="content_path" content="<?= e(\Aurora\Core\Kernel::config('content')) ?>">
    <link rel="icon" type="image/x-icon" href="/public/assets/favicon.ico">
    <link rel="stylesheet" href="<?= e($this->getFileQuery('/public/assets/css/admin/main.css')) ?>">
    <link id="css-dark" rel="stylesheet" href="<?= e($this->getFileQuery('/public/assets/css/admin/dark.css')) ?>" <?php if (($_COOKIE['theme'] ?? '') !== 'dark'): ?> disabled <?php endif ?>>
</head>
<body id="root"></body>
</html>
<script src="<?= e($this->getFileQuery('/public/assets/js/admin.js')) ?>"></script>
